body {
    
    font-family: sans-serif;
    width: 1200px;
    border: 3px solid steelblue;
    margin:  0 auto;
    padding: 0;
    box-shadow: 0 9px 18px 9px;
}



header img {
    float: left;
    text-indent: 40px;
    
}

 



#addMargin{
    margin-left: 25px;
}

header {
    background-image: -webkit-linear-gradient(white 0% steelblue 100%);
    background-image: -moz-linear-gradient(white 0%, steelblue 100%);
    background-image: -o-linear-gradient(white 0%, steelblue 100%);
    background-image: linear-gradient(white 0%, steelblue 100%);
    border-bottom: 5px solid steelblue;
    text-indent: 25px;
}




header h2 {
    color: steelblue;
    font-style: italic;
    text-shadow: 2px 2px;
    font-size: 200%;
    
}


h1 {
    font-size: 200%;
    
}

h3 a {
    color: maroon;
   
}

main {
    width: 485px;
    margin-left: 295px;
    
    
}


#sidebarA {
    float: left;
    width: 300px;
    padding: 20px 0;
    color: maroon;
    height: 350px;
}

#sidebarB {
    width: 385px;
    height: 350px;
    float: right;
    padding: 20px 0;
    margin-right: 15px;
    
}

#color{
    color: maroon;
}



ul {
    line-height: 1.6;
   
}

ul a {
    color: steelblue;
}

ul a:hover, a:focus {
    color: maroon;
}
/* a:link, a:visited {
    color: maroon;
} */

a:hover, a:focus {
    color: steelblue;
}


   


footer  {
    font-size: 75%;
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 1em;
   
   }

